extends layouts/main

block content
    .user-profile
        .user-header
            .user-profile__header
                img.u-avatar(src=user.avatarUrl)
                h4.profile__username=user.name
        if user.id === loggedUser.id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button 프로필 수정
                a(href=`/users${routes.editProfile}`)
                    button 비밀번호 변경
                a(href=routes.editProfile)
                    button 프로필 수정
