header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="검색어를 입력하세요", name="term")
        .header__column
            ul
                if !loggedUser
                    
                    li
                        a(href=routes.join) 회원가입
                    li
                        a(href=routes.login) 로그인
                else 
                    li
                        a(href=routes.board(1)) 게시판
                    li
                        a(href=`/videos${routes.upload}`) 업로드
                    li
                        a(href=routes.me) 프로필
                    li
                        a(href=routes.logout) 로그아웃
                    